<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jira Agile Retrospective Analysis</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#start" ).datepicker({ dateFormat: 'yy-mm-dd' });
    $( "#end" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
  </script>
  <style>
th {
    background-color: #d9edf7;
    color: #31708f;
}

  </style>
</head>
<body>
<div class="container theme-showcase" role="main">
<div class="header clearfix">    
    <h3 class="text-muted"></h3>
</div>
<div class="jumbotron">
<h2>Jira Agile Retrospective Analysis</h2>
<p>This tool will generate analysis data using Jira Agile exported xml report.</p>

<form method="post" enctype="multipart/form-data">
Jira Issues XML File: <input type="file" name="xml_file" size="40"/>
<p><li>To get the Jira Issues XML file, go to Sprint Report at the end of the sprint, click "View ... in Issue Navigator" on the upper right, Export, and XML.  Then save the file to your computer.</li></p>
Start Date: <input type="text" name="start" id="start"/>
End Date: <input type="text" name="end" id="end"/>
<input type="submit" value="Submit" class="btn btn-lg btn-default">
</form>

</div>
{% if data %}
<table class="table table-bordered">
<caption>Sprint is between <strong>{{ start_date }}</strong> to <strong>{{ end_date }}</strong> for a total of <strong>{{ total_working_hours }}</strong> working hours.</caption>
<thead>
   <th>Assignee</th>
   <th>Estimated</th>
   <th>Est (Done)</th>
   <th>Spent (Done)</th>
   <th>Spent</th>
   <th>Deferred</th>
   <th>Unplanned</th>
   <th>Bugs</th>
   <th>% Est Accuracy</th>
   <th>% Amt Deferred</th>
   <th>% Unplanned</th>
   <th>% Utilized</th>
   <th>% Bugs</th>
</thead>
{% for entry in data %}
<tr>
   <th>{{entry[0]}}</th>
   <td>{{entry[1]}}</td>
   <td>{{entry[2]}}</td>
   <td>{{entry[3]}}</td>
   <td>{{entry[4]}}</td>
   <td>{{entry[5]}}</td>
   <td>{{entry[6]}}</td>
   <td>{{entry[7]}}</td>
   <td class="{% if entry[8] > 115 %}danger{% elif entry[8] < 95 or entry[8] > 110 %}warning{% else %}success{% endif %}" >{{entry[8]}}%</td>
   <td class="{% if entry[9] > 10 %}danger{% elif entry[9] > 5 %}warning{% else %}success{% endif %}" >{{entry[9]}}%</td>
   <td class="{% if entry[10] > 10 %}danger{% elif entry[10] > 5 %}warning{% else %}success{% endif %}">{{entry[10]}}%</td>
   <td class="{% if entry[11] > 105 or entry[11] < 80 %}danger{% elif entry[11] > 105 or entry[11] < 90 %}warning{% else %}success{% endif %}">{{entry[11]}}%</td>
   <td class="{% if entry[12] > 10 %}danger{% elif entry[12] > 5 %}warning{% else %}success{% endif %}" >{{entry[12]}}%</td>
</tr>
{% endfor %}
</table>

{% if no_deferral_assignee %}
<p>Congratulations to the following team members fully completed the sprint: <span class="text-success">{{no_deferral_assignee | join(', ') }} </span> <p>
{% else %}
<p>No one fully completed sprint.</p>
{% endif %}

{% if unplanned %}
<table class="table table-bordered">
<caption>Unplanned Tasks</caption>
<thead>
<th>Assignee</th>
<th>Summary</th>
<th>Time Created</th>
<th>Hours Left</th>
<th>Hours Spent</th>
</thead>
{% for assignee in unplanned %}
{% for entry in unplanned[assignee] %}
<tr>
<td>{{entry['assignee']}}</td>
<td><img src="{{entry['icon']}}"/> <a href="{{entry['link']}}">{{entry['title']}}</a></td>
<td>{{entry['created']}}</td>
<td>{{entry['hours_left']}}</td>
<td>{{entry['hours_spent']}}</td>
</tr>
{% endfor %}
{% endfor %}
</table>
{% else %}
<p>No unplanned tasks.</p>
{% endif %}

{% if deferred %}
<table class="table table-bordered">
<caption>Deferred Tasks</caption>
<thead>
<th>Assignee</th>
<th>Summary</th>
<th>Time Updated</th>
<th>Hours Left</th>
</thead>
{% for assignee in deferred %}
{% for entry in deferred[assignee] %}
<tr>
<td>{{entry['assignee']}}</td>
<td><a href="{{entry['link']}}">{{entry['title']}}</a></td>
<td>{{entry['updated']}}</td>
<td>{{entry['hours_left']}}</td>
</tr>
{% endfor %}
{% endfor %}
</table>
{% else %}
<p>No deferred tasks.</p>
{% endif %}

{% if misestimated %}
<table class="table table-bordered">
<caption>Misestimated Tasks</caption>
<thead>
<th>Assignee</th>
<th>Summary</th>
<th>Time Created</th>
<th>Hours Estimated</th>
<th>Hours Spent</th>
<th>Over by</th>
<th>Difference</th>
</thead>
{% for assignee in misestimated %}
{% for entry in misestimated[assignee] %}
<tr>
<td>{{entry['assignee']}}</td>
<td><img src="{{entry['icon']}}"/> <a href="{{entry['link']}}">{{entry['title']}}</a></td>
<td>{{entry['created']}}</td>
<td>{{entry['hours_estimated']}}</td>
<td>{{entry['hours_spent']}}</td>
<td>{{entry['over_by']}}</td>
<td class="{% if entry['diff'] > 0 %}danger{% else %}success{% endif %}" >{{entry['diff']}}%</td>
</tr>
{% endfor %}
{% endfor %}
{% else %}
<p>No misestimated tasks.</p>
{% endif %}

{%if done_but_time_left %}
<table class="table table-bordered">
<caption>Tasks marked as "Done" but has time remaining.  This is usually a mistake.</caption>
<thead>
<th>Assignee</th>
<th>Summary</th>
<th>Time Updated</th>
<th>Hours Left</th>
</thead>
{% for entry in done_but_time_left %}
<tr class="warning">
<td>{{entry['assignee']}}</td>
<td><a href="{{entry['link']}}">{{entry['title']}}</a></td>
<td>{{entry['updated']}}</td>
<td>{{entry['hours_left']}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{%if testers %}
<table class="table table-bordered">
<thead>
<th>Tester</th>
<th>QA Hours</th>
<th>Automated Tests</th>
</thead>
{% for tester in testers %}
<tr>
<td>{{tester}}</td>
<td>{{testers[tester]['total_qa_hours']}}</td>
<td>{{testers[tester]['total_tests']}}</td>
</tr>
{% endfor %}
<tr>
<td>Total</td>
<td>{{total_qa_spent}}</td>
<td>{{total_tests}}</td>
</tr>
</table>
{% endif %}

<div class="well">
<ul> 
<li>"Est (Done)" indicates the total hours estimated on tasks that are moved to Done.  It does not include estimates on incomplete tasks, but will include estimates of unplanned tasks.</li>
<li>"Spent (Done)" indicates the total hours spent on tasks are that moved to Done.  It does not include time spent on incomplete tasks, but will include time spent on unplanned tasks.</li>
<li>"% Est Accurancy" is "Estimate (Done)" divided by "Spent" hours.  Over a 100% means the team member has underestimated the tasks, and should have put higher estimates.  Under a 100% means the team member overestimated and should have put lower estimates.  Target is 100%.</li>
<li>"% Amt Deferred" is "Deferred" divided by "Estimated."  Target is 0%.</li>
<li>"% Unplanned" is "Unplanned" divided by "Estimated."  Target is 0%.</li>
<li>"% Utilized" is "Spent" divided by Working hours for the sprint.  Target is 100%.</li>
<li>A task is considered unplanned if it is created after the start date.</li>
<li>A task is considered misestimated if its hours spent is different from hours estimated by 20%</li>
</ul>
</div>

{% endif %}
</div>
</body>
</html>
